interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.bidspotter.com/en-us/auction-catalogues
  response:
    body:
      string: "\r\n\r\n\r\n<!doctype html>\r\n<html lang=\"en-us\" class=\"en-us\">\r\n\r\n<head>\r\n\r\n
        \       <script type=\"text/javascript\" src=\"/ruxitagentjs_ICA7NVfhqrux_10331260218130851.js\"
        data-dtconfig=\"rid=RID_211677873|rpid=161527520|domain=bidspotter.com|reportUrl=/rb_bf06851ujh|app=f215a2272f5cee4f|owasp=1|featureHash=ICA7NVfhqrux|rdnt=1|uxrgce=1|cuc=3grkbf7w|mel=100000|expw=1|dpvc=1|md=mdcc1=a[name='name']@content,mdcc2=a[name='email']@content|lastModification=1771832090085|mdp=mdcc2|tp=500,50,0|srbbv=2|agentUri=/ruxitagentjs_ICA7NVfhqrux_10331260218130851.js\"></script><script
        type=\"text/javascript\" src=\"https://566d175d0f25.edge.sdk.awswaf.com/566d175d0f25/86bced2c7375/challenge.js\"
        defer></script>\r\n            \r\n            <script src=\"https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js\"
        data-document-language=\"true\" type=\"text/javascript\" charset=\"UTF-8\"
        data-domain-script=\"f8fc3dc0-1537-4781-b629-763177b4716e\">\r\n            </script>\r\n
        \           <script type=\"text/javascript\">\r\n                function
        OptanonWrapper() { }\r\n            </script>\r\n        \r\n\r\n  \r\n            \r\n\r\n\r\n\r\n
        \r\n    <!-- LegacyLayout - so you know which layout is being used, since
        there seem to be two -->\r\n    <!-- 3.1.0.1205 -->\r\n    <meta charset=\"utf-8\"
        />\r\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"
        />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1,
        maximum-scale=1.0, user-scalable=no, minimal-ui\" />\r\n    <meta name=\"author\"
        content=\"BidSpotter.com\" />\r\n\r\n    <link href=\"https://www.google-analytics.com\"
        rel=\"dns-prefetch\" />\r\n<link href=\"https://www.google-analytics.com\"
        rel=\"preconnect\" />\r\n<link href=\"https://www.googletagmanager.com\" rel=\"dns-prefetch\"
        />\r\n<link href=\"https://www.googletagmanager.com\" rel=\"preconnect\" />\r\n<link
        href=\"https://cdn.bidspotter.com\" rel=\"dns-prefetch\" />\r\n<link href=\"https://cdn.bidspotter.com\"
        rel=\"preconnect\" />\r\n<link href=\"https://portal-assets[...]
